body{
    padding-top: 64px;
    font-family:'Courier New', Courier, monospace,'正黑體';
    
}
p, h1, h2, h3, h4, h5,h6{
    margin-top: 0;
}
section{
    padding-block: 20px;
    margin-inline: 20%;
    background-color: #e551a2;
}
@media (max-width:768px) {
    body{
        padding-top: 56px;
    }
    section{
        margin-inline: 0;
    }
}
@media (max-width:600px) {
    body{
        padding-top: 40px;
    }
    section{
        margin-inline: 0;
    }
}